<% if current_user  %>
    <%= render 'header' %>
<% end %>

<div class="container">
<% if permitted_to? :new, @admin_users %>
<p>
<%= link_to "New user", new_admin_user_path %>
</p>
<% end %>
<p id="notice"><%= notice %></p>
<table class="responsive" style="background: none">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Team</th>
    <th>Status</th>
    <th><% if permitted_to? :edit, @admin_users %> Edit <% end %></th>
    <th><% if permitted_to? :delete, @admin_users %> Delete <% end %></th>
  </tr>

<% @users.each do |user| %>
  <% @user_role = user.try(:roles).collect(&:name).first %>
  <tr class="table">
    <td><%= link_to "#{user.first_name}" + " #{user.last_name}", admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= @user_role %></td>
    <td>
    	<% if (@user_role == 'student') then %>
	        <%= Student.find(user.id).team.try(:name)  %>
	    <% elsif (@user_role == 'coach') then %>
	        <%= Coach.find(user.id).team.try(:name) %>
	    <% end %>
    </td>
    <td style="color:green"><%= user.user_invite.activate ? 'Active' : 'Pending' %></td>
    <td> <% if permitted_to? :edit, @admin_users %> <%= link_to 'Edit', edit_admin_user_path(user) %> <% end %> </td>
    <td> <% if permitted_to? :delete, @admin_users %> <%= link_to 'Delete', "/gwu/admin/users/#{user.id}", :confirm => 'Are you sure?', :method => :delete %> <% end %> </td>
  </tr>
<% end %>
</table>
<%= paginate @users %> 
</div>
<br />