<nav>
	<div class = "nav-collapse">
		<ul class="nav pull-right">
			<li><%= link_to "Home",    root_path %></li>
			<li><%= link_to "About",    '/about' %></li>
			<li><%= link_to "Team",    '/team' %></li>
			<li><%= link_to "Development", '/development' %></li>
			<li><%= link_to "Contact", '/contact' %></li>
			<li><%= link_to "News", '/news' %></li>
			<li><%= link_to "Login", '/login' %></li>
		</ul>
	</div>
</nav>
   