<div class="container" style="margin-top: 50px">
	<div class = 'row'>
		<div class="span12">
			<h1> The AthleteTrax Management Team </h1>
		</div>
	</div>
	<div class = 'row center'>
		<div class="span12"> 
			<%= image_tag("atteam.png") %>
			<p>From left to right: <%= link_to "Brian Jeffrey Gross", '/brianjeffreygross' %>, <br> <%= link_to "Jon Halpern", '/jonhalpern' %>, <%= link_to "Reinaldo Coriano",'/reinaldocoriano' %>, and <%= link_to "Betsy Zander", '/betsyzander' %></p>
		</div>
	</div>
	<div class = 'row center'>
		<div class = 'span12'>
			<em>Click on a team member's name for more information!</em>
		</div>
	</div>
</div>
			
