<% if current_user  %>
  <%= render 'header' %>
<% end %>
<div class="container">
<h2><%= @user.email %>'s Profile</h2>
<% if notice %><p class="alert"><%= notice %></p><% end %>
<p>
  <b>Name:</b>
  <%= @user.first_name %> <%= @user.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Mobile_number:</b>
  <%= @profile.mobile_number %>
</p>
<p>
  <b>Landline_number:</b>
  <%= @profile.landline_number %>
</p>
<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>
<p>
  <b>Information:</b>
  <%= @profile.information %>
</p> 

<br/>
<%= link_to 'Back', @back_path %>
</div>