 <%= devise_error_messages! %>

<h2>Forgot Your Password?</h2>
<div class="container">
	<div class = 'row'>
		<div class = 'span6'>
			<div>
				<%= image_tag("gwlogo.png") %> 
			</div>
		</div>
		<div class = 'span6'>
			<br>
			<br>
			<br>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>


  <%= f.label :email , :class => 'text' %>
  <%= f.email_field :email , :class => 'text' %>

  <p class="buttons">
      <%= f.submit "Send me reset password instructions" , :id => 'forgot-button', :class => 'button positive' %>
  </p>

<% end %>

  <br>
<%= render "links" %>
</fieldset>
</div>




		

		</div>
	</div>
</div>