
<%= semantic_form_for :user , :url => {:controller => 'home', :action => 'reset'} do |f| %>

 <p><%= f.label :password %></p>
 <p><%= f.password_field :password %></p>

 <p><%= f.label :password_confirmation %></p>
 <p><%= f.password_field :password_confirmation %></p>

  <%=f.input :email , :as => :hidden, :input_html => { :value => @new_user.try(:user).try(:email) } %>

<p class="actions" >
     <%= f.button  'reset password »',  :class => "green radius nice button" %>
</p>

<% end %>
