<% if current_user  %>
  <%= render 'header' %>
<% end %>

<div class="container">
<h2>My Team</h2>
<% if notice %><p class="alert"><%= notice %></p><% end %>
<p>
  <b>Name:</b>
  <%= @team.name %>
</p>
<p>
  <b>Team:</b>
  <% @team.students.each do |student| %>
    <p>
      <%= student.last_name %> | &nbsp; <%= link_to "Profile", users_profile_show_path(:user_id => student.id, :back_path => coaches_my_team_path) %>
    </p>
  <% end %>
</p>

<%= link_to 'Back', coaches_index_path %>

</div>
