<% if current_user  %>
  <%= render 'header' %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @coach.name %>
</p>


<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_index_path %>
