<%= form_for @team, :url => @team.new_record? ? ('/gwu/admin/teams') : ("/gwu/admin/teams/#{@team.id}") do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li class="alert"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :coach %>
    <%= select(:coach, :coach, @coachRoleArray.collect {|p| [ p.user.last_name, p.user.id ] }, {:selected =>  @coach_select}) %>
  </div>
  
  <div class="field">
    <%= f.label :students %>
    <%= select(:students, :students, @studentRoleArray.collect {|p| [ p.user.email, p.user.id ] }, {:selected =>  @students_select.map {|p| p.id}}, { :multiple => true, :size => 10 }) %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


