<div class="box">
<fieldset>
 <legend> Address </legend>

   <%= f.semantic_fields_for :address  do |address_form|  %>
     <p>
       <%= address_form.input :country, :priority_countries => ['India'] %>
     </p>

     <p>
       <%= address_form.input :city, :as => :select, :collection => City.where('country_name = ? ', 'India').collect(&:city_name)  %>
     </p>

     <p>
       <%= address_form.input :locality , :as => :select, :collection => Locality.where('city_name = ? ', 'Bangalore').collect(&:locality_name)   %>
     </p>

     <p>
       <%= address_form.input :address %>
     </p>
   <% end %>
 </fieldset>
</div>


<script type="text/javascript">
$(document).ready(function(){
  var type = '<%= type %>';
  //var type_p = '<%#= type.pluralize %>';
  var type_p = 'deals';
 $('#'+type+'_address_attributes_country').live('change', function(){
    var country =  $('select#'+type+'_address_attributes_country :selected').val();
     alert(type_p);
    $.ajax({
     type: "GET", url: '/'+type_p+'/country_select', dataType: 'json', data: { country: country},
     success: function(data){
     var cities = data.cities.toString().split(',');
       var allCities;
        for(var i=0; i< cities.length; i++){
           allCities =  allCities + '<option value='+cities[i]+'>'+cities[i]+'</option>'
        }
        $('#'+type+'_address_attributes_city').html(allCities);
     },
     error: function(XMLHttpRequest, textStatus, errorThrown){
     }
    });
 });

})
</script>

<script type="text/javascript">
$(document).ready(function(){
  var type = '<%= type %>';
  //var type_p = '<%#= type.pluralize %>';
  var type_p = 'deals';
 $('#'+type+'_address_attributes_city').live('change', function(){
    var city =  $('select#'+type+'_address_attributes_city :selected').val();
     alert(type_p);
    $.ajax({
     type: "GET", url: '/'+type_p+'/city_select', dataType: 'json', data: { city: city},
     success: function(data){
     var localities = data.localities.toString().split(',');
       var allLocalities;
        for(var i=0; i< localities.length; i++){
           allLocalities =  allLocalities + '<option value='+localities[i]+'>'+localities[i]+'</option>'
        }
        $('#'+type+'_address_attributes_locality').html(allLocalities);
     },
     error: function(XMLHttpRequest, textStatus, errorThrown){
     }
    });
 });

})
</script>

