
<div class="actions">

  <p>

  <% if !object.nil? and object.eql? 'book' %>
    <%=  select_tag "type", options_for_select(Site::CATEGORY1) , {:prompt => 'Books'}  %>
   <% elsif  !object.nil? and object.eql? 'beauty' %>
    <%=  select_tag "type", options_for_select(Site::CATEGORY2) , {:prompt => 'Health & Beauty'}  %>
   <% elsif  !object.nil? and object.eql? 'clothing' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY3) , {:prompt => 'Clothing'}  %>
   <% elsif  !object.nil? and object.eql? 'electronic' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY4) , {:prompt => 'Electronics'}  %>
   <% elsif  !object.nil? and object.eql? 'food' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY5) , {:prompt => 'Food'}  %>
   <% elsif  !object.nil? and object.eql? 'gaming' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY6) , {:prompt => 'Gaming'}  %>
   <% elsif  !object.nil? and object.eql? 'living' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY7) , {:prompt => 'Home & Living'}  %>
   <% elsif  !object.nil? and object.eql? 'other' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY8) , {:prompt => 'Others'}  %>
   <% elsif  !object.nil? and object.eql? 'room' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY9) ,   {:prompt => 'Hotel & Rooms'}  %>
   <% elsif  !object.nil? and object.eql? 'travel' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY10) ,   {:prompt => 'Travels'}  %>
   <% elsif  !object.nil? and object.eql? 'vehicle' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY11) ,   {:prompt => 'Vehicle'}  %>
   <% elsif  !object.nil? and object.eql? 'banquet' %>
    <%=  select_tag "type", options_for_select(Site::CATEGORY12) ,   {:prompt => 'Banquet'}  %>
   <% elsif  !object.nil? and object.eql? 'restaurant' %>
    <%=  select_tag "type", options_for_select(Site::CATEGORY13) ,   {:prompt => 'Restaurant'}  %>
  <% else %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY) , {:prompt => 'Select Category'}  %>
   <% end %>
  </p>

</div>


<script>

$(document).ready(function(){
  $('#type').change(function(){
     var type = $('#type').val();
     if (type == 'Book'){
       window.location.replace("/books/new");
     }
     if (type == 'Vehicle'){
       window.location.replace("/vehicles/new");
     }

     if (type == 'Beauty'){
       window.location.replace("/beauties/new");
     }

     if (type == 'Clothing'){
       window.location.replace("/clothings/new");
     }

     if (type == 'Electronic'){
       window.location.replace("/electronics/new");
     }

     if (type == 'Food'){
       window.location.replace("/foods/new");
     }

     if (type == 'Gaming'){
        window.location.replace("/gamings/new");
     }

     if (type == 'Living'){
       window.location.replace("/livings/new");
     }

     if (type == 'Room'){
       window.location.replace("/rooms/new");
     }

     if (type == 'Travel'){
       window.location.replace("/travels/new");
     }

     if (type == 'Others'){
       window.location.replace("/others/new");
     }

     if (type == 'Banquet'){
       window.location.replace("/banquets/new");
     }

     if (type == 'Restaurant'){
       window.location.replace("/restaurants/new");
     }

  })
})

</script>

