<!-- Login Starts Here -->
              <div id="loginContainer">
                <a href="#" id="loginButton"><span>Login</span><em></em></a>
                <div style="clear:both"></div>
                <div id="loginBox">

                    <%= form_for(User.new, :as => 'user', :url => '/users/sign_in ' , :html => { :id => 'loginForm'}) do |f| %>
                        <fieldset id="body">
                          <%= f.label :email %>
                            <%= f.email_field :email , :class => 'text' %>

                            <%= f.label :password %>
                            <%= f.password_field :password , :class => 'text' %>
                            <input type="submit" id="login" value="Sign in" />
                        </fieldset>
                        <span><a href="#">Forgot your password?</a></span>
                      <% end %>

                </div>
            </div>
            <!-- Login Ends Here -->