
<div class="actions">

  <p>

  <% if !object.nil? and object.eql? 'Anniversary Parties' %>
    <%=  select_tag "type", options_for_select(Site::CATEGORY1) , {:prompt => 'Anniversary Parties '}  %>
   <% elsif  !object.nil? and object.eql? 'Birthdays' %>
    <%=  select_tag "type", options_for_select(Site::CATEGORY2) , {:prompt => 'Birthdays '}  %>
   <% elsif  !object.nil? and object.eql? 'Bridal Showers' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY3) , {:prompt => 'Bridal Showers'}  %>
   <% elsif  !object.nil? and object.eql? 'Christenings' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY4) , {:prompt => 'Christenings'}  %>
   <% elsif  !object.nil? and object.eql? 'Cocktail Party ' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY5) , {:prompt => 'Cocktail Party '}  %>
   <% elsif  !object.nil? and object.eql? 'Communions' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY6) , {:prompt => 'Communions'}  %>
   <% elsif  !object.nil? and object.eql? 'Confirmations' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY7) , {:prompt => 'Confirmations'}  %>
   <% elsif  !object.nil? and object.eql? 'Dinner Dances ' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY8) , {:prompt => 'Dinner Dances '}  %>
   <% elsif  !object.nil? and object.eql? 'Engagement Parties ' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY9) ,   {:prompt => 'Engagement Parties '}  %>
   <% elsif  !object.nil? and object.eql? 'Family Reunions ' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY10) ,   {:prompt => 'Family Reunions '}  %>
   <% elsif  !object.nil? and object.eql? 'Graduations' %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY11) ,   {:prompt => 'Graduations'}  %>
  <% else %>
     <%=  select_tag "type", options_for_select(Site::CATEGORY) , {:prompt => 'Select Category'}  %>
   <% end %>
  </p>

</div>


