
<div class="box">
    <fieldset>
      <legend>Add Tables</legend>

    <%= f.fields_for :tables  do |table_form|  %>
      <p>
        <%= table_form.number_field :table_size, :placeholder => "table size" , :required => "required" ,  :min => 1 %>
        <%= table_form.number_field :amount_of_advance, :placeholder => "amount of advance" , :required => "required" , :min => 1 %>
        <%= table_form.number_field :weekday_discount,  :placeholder => "weekday discount" , :required => "required" , :min => 1 %>
        <%= table_form.number_field :weekend_discount,  :placeholder => "weekend discount" , :required => "required" , :min => 1%>

      </p>
    <% end %>

      <div id="add_tables"></div>
      <h4><a href="#" id="addtables">Add Images</a></h4>
    </fieldset>
</div>


<script type="text/javascript">
  $(function() {
        var scntDiv = $('#add_tables');
        var i = $('#add_tables p').size() + 1;

        $('#addtables').live('click', function() {
                 $('<p>' +
                      '<input type="number" id="restaurant_tables_attributes_'+i+'table_size" size="20" name="restaurant[tables_attributes]['+i+'][table_size]" value="" , size="5", placeholder="table size" , min = 1, required = "required"/>&nbsp;&nbsp;' +
                      '<input type="number" id="restaurant_tables_attributes_'+i+'_amount_of_advance" size="20" name="restaurant[tables_attributes]['+i+'][amount_of_advance]" value="" placeholder="amount of advance" ,  min = 1, required = "required" />&nbsp;&nbsp;' +
                      '<input type="number" id="restaurant_tables_attributes_'+i+'_weekday_discount" size="20" name="restaurant[tables_attributes]['+i+'][weekday_discount]" value="" placeholder="weekday discount" ,  min = 1, required = "required"  />&nbsp;&nbsp;' +
                      '<input type="number" id="restaurant_tables_attributes_'+i+'weekend_discount" size="20" name="restaurant[tables_attributes]['+i+'][weekend_discount]" value="" placeholder="weekend discount" ,  min = 1, required = "required"  />&nbsp;' +
                      '<a href="#" id="tables_rm">Remove</a>' +
                    '</p>'



                 ).appendTo(scntDiv);
                i++;
              return false;
        });

        $('#tables_rm').live('click', function() {
                if( i > 2 ) {
                        $(this).parents('p').remove();
                        i--;
                }
                return false;
        });
   });
</script>