
<div class= 'user-sign-up' >
     <%= devise_error_messages! %>
    <div class="span-8">&nbsp;</div>
    <div class="span-8 column last" id="reg-usr-align"  >
    <fieldset>
       <legend><%= link_to "Login" , new_user_session_path , :id => 'login' %>
            | <%= link_to "Sign up" , '#' , :id => 'sign-up', :remote => true  %>
       </legend>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%=  f.hidden_field :type, :value => 'User' %>
      <%= f.label :email %>
      <%= f.email_field :email , :class => 'text' %>

      <%= f.label :password %>
      <%= f.password_field :password , :class => 'text' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation , :class=>'text' %>
      <div style="padding: 5px;"></div>
      <div class="span-8">
        <div class="span-3 colborder">
          <p class="buttons">
            <%= f.submit "Sign Up" , :id => 'login-button', :class => 'button positive' %>
          </p>
        </div>
        <div class="span-4.5 last"> <%= render "links" %></div>
      </div>
    <% end %>

    </fieldset>
    </div>
 </div>